{% extends 'base.html.twig'%}

{% block title %}
	Annulation de la manifestation
{% endblock %}

{% block body %}
	<h1>Annulation de la manifestation</h1>
	<p>Vous êtes sur le point d'annuler la manifestation
		<strong>{{ manifestations.titreFr }}</strong>
	</p>
	<p>Date de début:
		{{ manifestations.dateDebut|date('d/m/Y') }}</p>
	<p>Date de fin:
		{{ manifestations.dateFin|date('d/m/Y') }}</p>
	<p>Confirmez-vous cette action ?</p>

	{{ form_start(form) }}
	{{ form_row(form.motif_annulation) }}
	{{ form_row(form.description_annulation) }}
	<button type="submit">Confirmer</button>
	<a href="{{ path('app_manifestation_index') }}" class="btn btn-primary">Annuler</a>

	{{ form_end(form) }}
{% endblock %}
