{% extends 'base.html.twig' %}

{% block title %}Manifestation index{% endblock %}




{% block javascripts %}
    <script src="{{ asset('js/manifestation.js') }}"></script>
{% endblock %}


{% block body %}
    <h1> {{ '__Liste des Manifestations' |trans}}</h1> 

    <table class="table">
        <thead>
            <tr> 
                <th>Id</th>
                <th> {{ '_Titre' |trans}}</th>
                <th> {{ 'Debut' |trans}}</th>
                <th> {{ 'Fin' |trans}}</th>
                <th> {{ 'Durée' |trans}}</th>
                <th> {{ 'Justification de la durée' |trans}}</th>
                <th> {{ 'actions' |trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for manifestation in manifestations %}
            <tr>
                <td>{{ manifestation.id }}</td>
                <td>{{ manifestation.titre }}</td>
                <td>{{ manifestation.dateDebut ? manifestation.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ manifestation.dateFin ? manifestation.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ manifestation.duree }}</td>
                <td>{{ manifestation.justificationDuree }}</td>
                <td>
                    <a href="{{ path('app_manifestation_show', {'id': manifestation.id}) }}">voir</a>
                    <a href="{{ path('app_manifestation_edit', {'id': manifestation.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7"> {{ 'Aucun Item Trouvé' |trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
<a class="btn btn-primary nouvelle-manifestation" id="nouvelle-manifestation" href="{{ path('app_manifestation_new') }}">Nouvelle Manifestation</a>


{% endblock %}
