{% extends 'base.html.twig' %}

{% block title %}
	Nouvelle Manifestation
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<h1>Nouvelle Manifestation Scientifique</h1>
	<form action="{{ path('app_manifestation_new') }}" method="post">
		<div class="col-xs-6 col-md-offset-3">
			<div class="col-md-12">
				<fieldset>

					<legend>
						Choix du projet</legend>
					<div class="form-group">
						<label>
							Projet
						</label>
						{{ form_widget(form.project, {'attr': {'class': 'form-control', 'id': 'projet'}}) }}
					</div>
					<legend>Informations Générales</legend>
					<div class="form-group">
						<label>
							Titre Fr
						</label>
						{{ form_widget(form.titreFr, {'attr': {'class': 'form-control', 'id': 'titre_fr'}}) }}
					</div>
					<div class="form-group">
						<label>
							Titre De
						</label>
						{{ form_widget(form.titreDe, {'attr': {'class': 'form-control', 'id': 'titre_de'}}) }}
					</div>
					<div class="form-group">
						<label>
							Titre En
						</label>
						{{ form_widget(form.titreEn, {'attr': {'class': 'form-control', 'id': 'titre_en'}}) }}
					</div>
					<hr>
					<legend>Dates et Durée</legend>
					<div class="form-group">
						<label>
							Date Début
						</label>
						{{ form_widget(form.date_debut, {'attr': {'class': 'form-control', 'id': "date_debut"}}) }}
					</div>
					<div class="form-group">
						<label>
							Date Fin
						</label>

						{{ form_widget(form.date_fin, {'attr': {'class': 'form-control', 'id': "date_fin"}}) }}
					</div>
					<div class="form-group">
						<label>
							Durée (jours)
						</label>
						{{ form_widget(form.duree, {'attr': {'class': 'form-control', 'id': 'duree'}}) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.justification_duree, {'attr': {'class': 'form-control', 'id': 'justification_duree', 'style': 'display: none;', 
						'placeholder' : 'veuillez justifier la durée'}}) }}
					</div>

					<hr>
					<legend>Choix des Regions</legend>
					<div class="form-group">
						<label>
							Région
						</label>
						{{ form_widget(form.region) }}
					</div>
					<hr>
					<legend>Localisation France et Allemagne</legend>
					<div class="form-group">
						<label>
							Ville France
						</label>
						{{ form_widget(form.communes) }}
					</div>

					<div class="form-group">
						<label>
							Ville Allemagne
						</label>
						{{ form_widget(form.staedte) }}
					</div>

					<fieldset>
						<legend>Choix Pays Tiers</legend>
						<div class="form-group">
							<label>
								Pays tiers
							</label>
							{{ form_widget(form.countries) }}
						</div>
						<div class="form-group" id="justification_pays_tiers">
							<label for="{{ form.justification_pays_tiers.vars.id }}">
								Justification Pays Tiers
							</label>
							{{ form_widget(form.justification_pays_tiers, {'attr': {'class': 'form-control'}}) }}
						</div>


					</fieldset>
					<hr>
					<div class="form-group mt-4">
						{{ include('manifestation/_form.html.twig') }}
						<a href="{{ path('app_manifestation_index') }}" class="btn btn-secondary btn-lg pull-left">{{ button_label|default('Retour') }}</a>
					</div>

				</fieldset>
			</div>
		</div>

	</form>

{% endblock %}
