{% extends 'base.html.twig' %}

{% block title %}Manifestation
{% endblock %}
{% block stylesheets %}
	<style>
		.button-container {
			display: flex; /* Utilise la mise en page flexbox */
		}

		.button-wrapper {
			margin-right: 10px; /* Espace entre les deux div */
		}
	</style>
{% endblock %}


{% block body %}
	<h1>Manifestation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Titre Fr</th>
				<td>{{ manifestation.titreFr }}</td>
			</tr>
			<tr>
				<th>Titre De</th>
				<td>{{ manifestation.titreDe }}</td>
			</tr>
			<tr>
				<th>Date de début</th>
				<td>{{ manifestation.dateDebut ? manifestation.dateDebut|date('d-m-Y') : '' }}</td>
			</tr>
			<tr>
				<th>Date de fin</th>
				<td>{{ manifestation.dateFin ? manifestation.dateFin|date('d-m-Y') : '' }}</td>
			</tr>
			<tr>
				<th>Durée</th>
				<td>{{ manifestation.duree }}</td>
			</tr>


			<tr>
				<th>Ville France</th>
				<td>
					{% for commune in manifestation.communes %}
						{{ commune }}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Ville Allemagne</th>
				<td>
					{% for stadt in manifestation.staedte %}
						{{ stadt }}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</td>
			</tr>

			<tr>
				<th>Pays Tiers</th>
				<td>
					{% for country in manifestation.countries %}
						{{ country.nom }}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</td>
			</tr>


			<tr>
				<th>Justification Pays tiers</th>
				<td>{{ manifestation.justificationPaysTiers }}</td>
			</tr>
			<tr>
				<th>Justification de la durée</th>
				<td>{{ manifestation.justificationDuree }}</td>
			</tr>
		</tbody>
	</table>

	<div class="button-container">
		<div class="button-wrapper">
			<a class="btn btn-primary prevBtn btn-lg" href="{{ path('app_manifestation_index') }}">Retour</a>
		</div>
		<div class="button-wrapper">
			{{ include('manifestation/_delete_form.html.twig') }}
		</div>
	</div>


{% endblock %}
