   
   <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">{{ 'Mannifestation Scientifique'|trans }}</a> <!-- Utilisation d'une clé de traduction -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="{{ app.request.attributes.get('_route') == 'app_project_index' ? 'active' }}">
                    <a href="{{ path('app_project_index') }}">{{ 'project'|trans }}</a> <!-- Utilisation d'une clé de traduction -->
                </li>
                <li class="{{ app.request.attributes.get('_route') == 'app_manifestation_index' ? 'active' }}">
                    <a href="{{ path('app_manifestation_index') }}">{{ 'manifestation'|trans }}</a> <!-- Utilisation d'une clé de traduction -->
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('app_register') }}"><span class="glyphicon glyphicon-user"></span> {{ 'register'|trans }}</a></li>
                <li><a href="{{ path('app_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'login'|trans }}</a></li>
                <li><a href="{{ path('app_logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ 'logout'|trans }}</a></li>
                
               <li class="dropdown">
                   <a href="#" data-toggle="dropdown">{{ app.request.locale }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     {% for locale in locales %}
                         <li><a href="{{ path('app_locale', {'locale': locale}) }}">{{ locale }}</a></li>
                     {% endfor %}
               </ul>
             </li>
            </ul>
        </div>
    </div>
</nav>
