{% extends 'base.html.twig' %}

{% block title %}Créer un Projet{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un nouveau Projet</h1>
        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Step 3</p>
                </div>
            </div>
        </div>
    </div>  

    <form id="regForm" action="{{ path('app_project_create') }}" method="post">
        <div class="row setup-content" id="step-1">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3> Informations du Projet</h3>
                    {{ form_row(form.num_dossier) }}
                    {{ form_row(form.titreFr) }}
                    {{ form_row(form.titreDe) }}
                    {{ form_row(form.titreEn) }}
                    {{ form_row(form.type) }}
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" onclick="nextPrev(1)">Next</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3>Choix de la discipline</h3>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.discipline) }}
                            {{ form_row(form.discipline) }}    
                        </div>
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" onclick="nextPrev(1)">Next</button>
                    <button class="btn btn-default prevBtn btn-lg pull-left" type="button" onclick="nextPrev(-1)">Previous</button>
                </div>
            </div>
        </div>

        <div class="row setup-content" id="step-3">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3>Information des Porteurs de Projet</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Ajoute tes champs ici -->
                        </div>
                    </div>
                    <button class="btn btn-default prevBtn btn-lg pull-left" type="button" onclick="nextPrev(-1)">Previous</button>
                    <button class="btn btn-success btn-lg pull-right" type="submit">{{ button_label|default('Enregistrer') }}</button>
                </div>
            </div>
        </div>
        {{ form_widget(form) }}
    </form>

   
   
{% endblock %}

{% block javascripts%}

<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
      // This function will display the specified tab of the form ...
      var x = document.getElementsByClassName("setup-content");
      x[n].style.display = "block";
      // ... and fix the Previous/Next buttons:
      if (n == 0) {
        document.getElementsByClassName("prevBtn")[0].style.display = "none";
      } else {
        document.getElementsByClassName("prevBtn")[0].style.display = "inline";
      }
      if (n == (x.length - 1)) {
        document.getElementsByClassName("nextBtn")[0].innerHTML = "Submit";
      } else {
        document.getElementsByClassName("nextBtn")[0].innerHTML = "Next";
      }
    }

    function nextPrev(n) {
      // This function will figure out which tab to display
      var x = document.getElementsByClassName("setup-content");
      // Exit the function if any field in the current tab is invalid:
      if (n == 1 && !validateForm()) return false;
      // Hide the current tab:
      x[currentTab].style.display = "none";
      // Increase or decrease the current tab by 1:
      currentTab = currentTab + n;
      // if you have reached the end of the form... :
      if (currentTab >= x.length) {
        //...the form gets submitted:
        document.getElementById("regForm").submit();
        return false;
      }
      // Otherwise, display the correct tab:
      showTab(currentTab);
    }

    function validateForm() {
      // This function deals with validation of the form fields
      var x, y, i, valid = true;
      x = document.getElementsByClassName("setup-content");
      y = x[currentTab].getElementsByTagName("input");
      // A loop that checks every input field in the current tab:
      for (i = 0; i < y.length; i++) {
        // If a field is empty...
        if (y[i].value == "") {
          // add an "invalid" class to the field:
          y[i].className += " invalid";
          // and set the current valid status to false:
          valid = false;
        }
      }
      // If the valid status is true, mark the step as finished and valid:
      if (valid) {
        document.getElementsByClassName("stepwizard-row")[0].getElementsByTagName("div")[currentTab].className += " finish";
      }
      return valid; // return the valid status
    }
</script>

{% endblock %}